.menu {
  background-color: rgb(231, 166, 35);
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.menu img {
  width: 30%;
}

*,
::after,
::before {
  box-sizing: border-box;
}
